<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{tagCategory}}</h1>
    <div class="buttons">
      <button class="button button-clear button-balanced" ng-click="closeModal()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <tags-input autofocus replace-spaces-with-dashes="false" add-on-paste="true" ng-model="tags.tags" max-tags="{{maxTags}}" on-tag-adding="checkTag($tag)" add-on-space="true" placeholder="Your input here">
      <auto-complete min-length="1" source="loadSuggestions($query)" ></auto-complete>
    </tags-input>
  </ion-content>
</ion-modal-view>
