<ion-view view-title="Check-in">
  <ion-content>
    <form class="list list-inset" ng-submit="doCheckin()">
      <label class="item item-input item-select">
        <div class="input-label">
          Standorttyp
        </div>
        <select ng-model="checkin.type" ng-options="type for type in types"></select>
      </label>

      <label class="item item-input">
        <div class="input-label">
          Ort
        </div>
        <input ng-click="openLocations()" ng-model="checkin.location" placeholder="Your Location" type="text">
      </label>

      <button class="button button-block button-balanced" type="submit">Check-In!</button>
    </form>
  </ion-content>
</ion-view>
