<ion-view view-title="Check-in">
  <ion-content>
    <form class="list list-inset" ng-submit="doCheckin()">
      <label class="item item-input item-select">
        <div class="input-label">
          Location Type
        </div>
        <select ng-model="checkin.type" ng-options="type for type in types"></select>
      </label>

      <label class="item item-input">
        <div class="input-label">
          Location
        </div>
        <input class="location-input" ng-click="openLocations()" ng-model="checkin.location" placeholder="Your Location" type="text">
      </label>

      <button class="button button-block button-stable" type="submit">Check-In</button>
    </form>
  </ion-content>
</ion-view>
