<ion-view view-title="Bluevoo">
  <ion-content class="map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" data-tap-disabled="true">
      <ui-gmap-marker
       coords="myPosition"
       idKey="'pos'"
       options="{icon: 'img/home.png'}">
      </ui-gmap-marker>
      <ui-gmap-marker ng-repeat="user in nearbyUsers" coords="user.value.coords" idKey="user.id" click="doClick()" options="{icon: 'img/group.png'}">
    </ui-gmap-marker>
    </ui-gmap-google-map>
    <hr>
    <button class="button icon ion-search" ng-click="test()"></button>
  </ion-content>
</ion-view>
