<ion-view view-title="Bluevoo">
  <ion-content>
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <ui-gmap-marker
       coords="myPosition"
       idKey="'pos'"
       options="{title: 'A'}">
      </ui-gmap-marker>
      <ui-gmap-marker ng-repeat="user in nearbyUsers" coords="user.value.coords" idKey="user.id"
      options="{title: user.value.username}">
    </ui-gmap-marker>
    </ui-gmap-google-map>
    <hr>
    <button class="button" ng-click="test()">Teste mich</button>
    <div>
      <pre>
      {{user|json}}
    </pre>
    </div>
  </ion-content>
</ion-view>
