<ion-view view-title="Profile">
  <ion-content>
    <form ng-submit="updateProfile()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input ng-model="existingUser.username" type="text" placeholder="Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Business Unit</span>
          <input ng-model="existingUser.businessUnit" placeholder="Business Unit" type="text">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">IBM Location</span>
          <input ng-model="existingUser.ibmLocation" placeholder="IBM Location" type="text">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Business Tags</span>
          <input ng-model="existingUser.businessTags" ng-click="openBusinessTags()" type="text" placeholder="Business Tags">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Private Tags</span>
          <input ng-model="existingUser.privateTags" ng-click="openPrivateTags()" type="text" placeholder="Private Tags">
        </label>
      </div>
      <button class="button button-block button-stable" type="submit">Update profile</button>
    </form>
  </ion-content>
</ion-view>
