<ion-view view-title="Profile">
  <ion-content>
    <form ng-submit="updateProfile()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input ng-model="existingUser.username" type="text">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Business unit</span>
          <input ng-model="existingUser.businessUnit" type="text">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">IBM location</span>
          <input ng-model="existingUser.ibmLocation" type="text">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Business tags</span>
          <input ng-model="existingUser.businessTags" ng-click="openBusinessTags()" type="text" placeholder="Business Tags">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Private tags</span>
          <input ng-model="existingUser.privateTags" ng-click="openPrivateTags()" type="text" placeholder="Private Tags">
        </label>
      </div>
      <button class="button button-block button-positive" type="submit">Update profile</button>
    </form>
  </ion-content>
</ion-view>
