<ion-view view-title="Profile">
  <ion-content>
    <h1>My Profile</h1>
    <form ng-submit="updateProfile()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="existingUser.name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Business unit</span>
          <input type="text" ng-model="existingUser.businessUnit">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">IBM location</span>
          <input type="text" ng-model="existingUser.ibmLocation">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Business tags</span>
          <input type="text" ng-model="existingUser.businessTags">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Private tags</span>
          <input type="text" ng-model="existingUser.privateTags">
        </label>
      </div>
      <button class="button button-block button-positive" type="submit">Update profile</button>
    </form>
  </ion-content>
</ion-view>
