<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input ng-model="newUser.username" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Business Unit</span>
          <input ng-model="newUser.businessUnit" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Lokation</span>
          <input ng-model="newUser.ibmLocation" type="text">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
